
<%@ page import="it.addressbook.Contact" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'contact.label', default: 'Contact')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-contact" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
				<li style="float: right;">
					<g:form action="index">
						<button type="submit">
							<g:img dir="images" file="search.png" style="width: 20px;height: 20px; vertical-align: middle; margin-right: 2px;"></g:img>
						</button>
						<g:textField name="familyName" class=""/>
					</g:form>
				</li>
			</ul>
		</div>
		<div id="list-contact" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
					
						<g:sortableColumn property="givenName" title="${message(code: 'contact.givenName.label', default: 'Given Name')}" />
					
						<g:sortableColumn property="familyName" title="${message(code: 'contact.familyName.label', default: 'Family Name')}" />
					
						<g:sortableColumn property="homeAddress" title="${message(code: 'contact.homeAddress.label', default: 'Home Address')}" />
					
						<g:sortableColumn property="dateCreated" title="${message(code: 'contact.dateCreated.label', default: 'Date Created')}" />
					
						<g:sortableColumn property="lastUpdated" title="${message(code: 'contact.lastUpdated.label', default: 'Last Updated')}" />
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${contactInstanceList}" status="i" var="contactInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${contactInstance.id}">${fieldValue(bean: contactInstance, field: "givenName")}</g:link></td>
					
						<td>${fieldValue(bean: contactInstance, field: "familyName")}</td>
					
						<td>${fieldValue(bean: contactInstance, field: "homeAddress")}</td>
					
						<td><g:formatDate date="${contactInstance.dateCreated}" /></td>
					
						<td><g:formatDate date="${contactInstance.lastUpdated}" /></td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${contactInstanceCount ?: 0}" />
			</div>
		</div>
	</body>
</html>
